@tailwind base;
@tailwind components;
@tailwind utilities;

.citation{
    color: white;
    font-size: 30px;
}

.auteur{
    color: white;
    font-size: 16px;
}

.description{
    color: gray;
    font-size: 16px;
    font-style: italic;
}